div.pilas-contenedor {
  max-width: 800px;
  margin: 1em;
  height: 400px;
  position: relative;
}

div.pilas-mensajes {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 300px;
  z-index: 200;
  cursor: hand;
}

ul.pilas-ejercicios {
  text-align: right;
}

li.pilas-ejercicio {
  display: inline-block;
}

li.pilas-ejercicio a {
  color: white;
  margin-right: 2px;
  background-color: gray;
  border-radius: 2em;
  display: inline-block;
  width: 21px;
  height: 21px;;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}

li.pilas-ejercicio a:hover {
  text-decoration: none;
  opacity: 0.75;
}

li.pilas-ejercicio a.completado {
  background-color: rgb(75, 144, 219);
}

li.pilas-ejercicio a.actual {
  background-color: rgb(175, 144, 219);
}

div.centrado {
  text-align: center;
}

div#console {
  height: 110px;
  margin-top: 5px;
  margin-right: 5px;
}

canvas {
  border: 1px solid green;
}