{% extends "bootstrap_responsive.html" %}

{% block head %}
{{super()}}
<script src='/static/libs/jquery-1.8.1.min.js'></script>

<script>
$(document).ready(function() {
  var source = new EventSource('/stream');
  var salida = document.getElementById('salida');

  source.onmessage = function(e) {
    salida.innerHTML = e.data + '</br>' + salida.innerHTML;
  };

  jQuery.extend({
    postJSON: function(url, data, callback) {
      return jQuery.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify(data),
        success: callback,
        dataType: "json",
        contentType: "application/json",
        processData: false
      });
    }
  });


  $("#enviar").click(function() {
    var texto = $("#m").val();

    $.postJSON("enviar", {'mensaje': texto}, function (msg) {alert(msg);});

    $("#m").val("");

    return false;
  });
});
</script>

<style>
  div#salida {
    border: 1px solid gray;
    margin: 1em;
    padding: 10px;
  }
</style>
{% endblock %}

{% block body_content %}
<div class="container">
  <p>Abre varias ventanas mostrando esta página y escribe algún mensaje.

  <div id='salida'> </div>

  <form action='' method='post'>
    <label>Mensaje: </label>
    <input name='m' id='m'></input>
    <button type='submit' class='btn' id='enviar'>Enviar</button>
  </form>
</div>
{% endblock %}
